.productCard {
  display: flex;
  flex-direction: column;
  min-height: 349px;
}

.productImgContainer {
  position: relative;
  height: 202px;
  margin-bottom: 15px;

  @include flex;
}

.captionGroup {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.caption {
  padding: 3px 5px 2px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  border-radius: 1px;

  &:global(.black) {
    background-color: #000;
  }

  &:global(.gray) {
    background-color: #414042;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.productImg {
  max-width: 100%;
  max-height: 100%;
}

.imgContainerFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.awardsGroup {
  margin-left: auto;
}

.awardImg {
  display: block;
  max-width: 50px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.control {
  display: flex;
  flex-direction: column;
}

.controlBtn {
  display: inline-flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.num {
  margin-bottom: 11px;
  color: #414042;
  font-weight: bold;
  font-size: 13px;
}

.name {
  color: #414042;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.priceGroup {
  white-space: nowrap;
}

.oldPriceGroup {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.oldPrice {
  margin-right: 7px;
  color: #a09fa0;
  font-size: 13px;
  text-decoration: line-through;
}

.discount {
  padding: 2px 5px 0;
  color: #e87018;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid #e87018;
  border-radius: 2px;
}

.price {
  color: #414042;
  font-weight: bold;
  font-size: 20px;
}

.btn {
  margin-left: auto;
  padding: 7px 16px 4px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  background: #e87018;
  border-radius: 3px;
}

// Global styles

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
