.indexPg {
}

.productList {
  display: flex;
  flex-wrap: wrap;
  max-width: 898px;
  margin-right: -30px;
  margin-bottom: -30px;

  > * {
    width: calc(25% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

// Global styles

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
