.breadcrumbs {
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;

  li {
    display: flex;
    align-items: center;

    font-size: 11px;
    color: #4a4a4a;

    &:not(:last-child) {
      &:after {
        content: '';
        background: url('~@/components/breadcrumbs/img/delimiter.svg') center
          no-repeat;
        width: 6px;
        height: 6px;
        display: inline-block;
        padding: 0 10px;
      }
    }
  }

  a {
    &:hover {
      color: $accentColor;
    }
  }
}

// Global styles

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
